package components

import (
    "fmt"
    "leeg/model"
)

templ GameAndControls(game model.Game, round model.Round) {
    <div id={fmt.Sprintf("round-games-%v", round.ID)} hx-swap-oob="beforeend">
        @Game( game, round.SortedTeams(), false, false)
    </div>

    <div id={fmt.Sprintf("round-controls-%v", round.ID)} hx-swap-oob="outerHTML">
        @RoundControls(round)
    </div>
}
